@charset "UTF-8";
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

*::before,
*::after {
  box-sizing: border-box;
  outline: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-weight: 700;
}

h1 {
  font-size: 38px;
  line-height: 46px;
}

h2 {
  font-size: 30px;
  line-height: 37px;
}

h3 {
  font-size: 22px;
  line-height: 27px;
}

h4 {
  font-size: 16px;
  line-height: 20px;
}

p {
  margin: 0;
  font-size: 16px;
  line-height: 26px;
  font-weight: 400;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
  color: #0085FF;
}
a:hover {
  color: #F0145A;
}
a.active {
  color: #F0145A;
}

ul {
  list-style: none;
}

ul li,
ol li {
  font-size: 18px;
  line-height: 26px;
}

ul li::before {
  content: "•";
  color: #F0145A;
  display: inline-block;
  width: 6px;
  margin-right: 4px;
}

ol li::marker {
  color: #F0145A;
  font-weight: 700;
}

hr {
  height: 4px;
  width: 100%;
  background-color: #E6E6F0;
  border-style: hidden;
}

.fs-clean {
  font-size: 0 !important;
}

.container {
  background-color: #FFFFFF;
}

.bg-light {
  background-color: #FFFFFF;
  color: #B3B3BA;
  font-size: 16px;
  font-weight: 400;
}
.bg-light .page-title {
  color: #323264;
}
.bg-light .mob_bg {
  opacity: 1;
  z-index: 0;
}
.bg-light .mob-nav_hamburger > div {
  background-color: #323264;
}
.bg-light .mob-nav_hamburger > div::before, .bg-light .mob-nav_hamburger > div::after {
  background-color: #323264;
}
.bg-light nav a {
  color: #24A3FF;
}
.bg-light .nav-address li::before {
  background-color: #E6E6F0;
}
.bg-light .header-nav_lang li a.active {
  color: #FFFFFF;
}
.bg-light .header-nav_lang li a:hover {
  background-color: #F5F5FA;
  color: #B3B3BA;
}
.bg-light .mb-none {
  margin-bottom: 0;
}

.bg-grey {
  background-color: #F5F5FA;
  color: #000000;
}

.bg-dark {
  background-image: linear-gradient(228.57deg, #323264 11.93%, #323264 57.17%, #643E72 87.46%);
  color: #FFFFFF;
  font-size: 16px;
  font-weight: 400;
  border-radius: 0 0 12px 12px;
  position: relative;
  padding-bottom: 60px;
  margin-bottom: 80px;
}
.bg-dark::before, .bg-dark::after {
  content: "";
  box-shadow: 0 13px 0 0 #CACADB;
  border-radius: 0 0 12px 12px;
  position: absolute;
  height: 10px;
  left: 20px;
  right: 20px;
  bottom: 3px;
}
.bg-dark::after {
  box-shadow: 0 14px 0 0 #E7E7F2;
  left: 40px;
  right: 40px;
  bottom: -6px;
}

.wrapper {
  min-width: 320px;
  padding-left: 30px;
  padding-right: 30px;
}

.wrap-head {
  padding: 0 15px;
}

.wrap-client {
  max-width: 1720px;
  margin-left: auto;
  margin-right: auto;
}

.header-title {
  width: 90%;
  min-width: 300px;
  margin-left: auto;
  margin-right: auto;
}

.title-bg {
  font-size: 38px;
  font-weight: 700;
  line-height: 46px;
  color: inherit;
}

.title-md {
  font-size: 30px;
  line-height: 37px;
  color: inherit;
  font-weight: 700;
}

.title-sm {
  font-size: 22px;
  line-height: 27px;
  color: inherit;
  font-weight: 700;
}

.title-grad {
  background: linear-gradient(90.13deg, #F0145A 0.84%, #EF8080 99.96%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.page-title {
  font-size: 20px;
  line-height: 24px;
  margin-left: 20px;
}
.page-title::before {
  content: url("../../img/title-slash-sm.svg");
  width: 12px;
  height: 26px;
  position: absolute;
  top: 0;
  margin-left: -16px;
}

.title-nav {
  display: inline-block;
  font-size: 14px;
  line-height: 17px;
  color: #24A3FF;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: uppercase;
  margin-bottom: 5px;
}
.title-nav::after {
  content: url("../../img/services-arrow.svg");
  width: 12px;
  height: 12px;
  position: absolute;
  top: 2px;
  margin-left: 2px;
}
.title-nav:hover {
  color: #F0145A;
}
.title-nav:hover::after {
  content: url("../../img/services-arrow-red.svg");
}

.nav-address {
  position: relative;
}
.nav-address li::before {
  content: none;
  position: absolute;
  top: 11px;
  width: 6px;
  height: 6px;
  background-color: #FFFFFF;
  border-radius: 50%;
  margin-left: -12px;
}
.nav-address li:nth-of-type(1) {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
}
.nav-address li a svg:hover #facebook {
  fill: #F0145A;
}

.header {
  width: 100%;
  margin-top: -45px;
  position: relative;
  margin-bottom: 30px;
}
.header-main {
  height: 100vh;
  min-width: 300px;
  min-height: 600px;
  background-image: url(../../img/bg-header.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.header-logo {
  position: relative;
}
.header-logo img {
  width: 70px;
  height: 32px;
  display: block;
}
.header-block {
  display: grid;
  grid-template-rows: 45px 57px 1fr;
  align-items: center;
}
.header-block a {
  color: inherit;
}
.header-block li::before {
  content: none;
}
.header-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: transparent;
  line-height: 20px;
}
.header-nav_lang {
  display: flex;
}
.header-nav_lang a {
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: uppercase;
  padding: 5px 7px;
}
.header-nav_lang li a.active {
  background-color: #F0145A;
  border-radius: 8px;
}
.header-nav_lang li a:hover {
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 8px;
}
.header-nav_address li:not(:nth-child(2)) {
  display: none;
}
.header-nav_address:nth-child(2) a {
  font-weight: 700;
}
.header-nav nav a {
  font-weight: 700;
}
.header-nav nav a:hover {
  text-decoration: underline;
  text-underline-offset: 3px;
}
.header-nav nav a:active {
  color: #F0145A;
}
.header-scroll {
  display: block;
  position: absolute;
  bottom: 30px;
  margin: 0 auto;
  left: 0;
  right: 0;
  width: 42px;
  height: 42px;
  background-image: url(../../img/scroll.png);
  background-repeat: no-repeat;
  background-position: 50% 75%;
  border: 2px solid #FFFFFF;
  opacity: 0.5;
  border-radius: 50%;
}
.header-scroll:hover {
  border-color: #F0145A;
  background-image: url(../../img/scroll-red.png);
  cursor: pointer;
}
.header-content {
  margin-top: 129px;
  text-align: center;
}

.mob_bg {
  height: 45px;
  background-color: #F5F5FA;
  opacity: 0.2;
  position: relative;
  top: 0px;
  left: 0;
  z-index: 1;
}

.nav_logo {
  order: 2;
  font-size: 0;
  line-height: unset;
  display: flex;
}
.nav_info {
  order: 1;
}

.nav_menu {
  order: 3;
}

.block-title {
  position: relative;
  margin-bottom: 30px;
}

.mob-nav_toggler {
  position: absolute;
  right: 8px;
  top: 57px;
  z-index: 3;
  width: 32px;
  height: 32px;
  cursor: pointer;
  opacity: 0;
}
.mob-nav_toggler:checked {
  margin-right: 7px;
}
.mob-nav_toggler:checked + .mob-nav_hamburger {
  right: 15px;
}
.mob-nav_toggler:checked + .mob-nav_hamburger > div {
  transform: rotate(135deg);
  background-color: #F0145A;
}
.mob-nav_toggler:checked + .mob-nav_hamburger > div::before, .mob-nav_toggler:checked + .mob-nav_hamburger > div::after {
  top: 0;
  transform: rotate(90deg);
  background-color: #F0145A;
}
.mob-nav_toggler:checked:hover + .mob-nav_hamburger > div {
  transform: rotate(225deg);
}
.mob-nav_toggler:active + .mob-nav_hamburger {
  background-color: #E6E6F0;
}
.mob-nav_toggler:checked ~ .mob-nav_menu {
  visibility: visible;
}
.mob-nav_toggler:checked ~ .mob-nav_menu nav {
  transform: translate(0, 0);
}
.mob-nav_toggler:checked ~ .mob-nav_menu div {
  transform: translate(0, 0);
}
.mob-nav_hamburger {
  position: absolute;
  right: 8px;
  top: 57px;
  z-index: 2;
  width: 32px;
  height: 32px;
  background-color: transparent;
  padding: 10px 7px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
}
.mob-nav_hamburger > div {
  position: relative;
  width: 100%;
  height: 2px;
  background-color: #FFFFFF;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease;
}
.mob-nav_hamburger > div::before, .mob-nav_hamburger > div::after {
  content: "";
  position: absolute;
  z-index: 1;
  top: -6px;
  width: 100%;
  height: 2px;
  background-color: #FFFFFF;
}
.mob-nav_hamburger > div::after {
  top: 6px;
}
.mob-nav_menu {
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #FFFFFF;
  visibility: hidden;
}
.mob-nav_menu > div {
  position: fixed;
  top: 0px;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #46466E;
  transform: translate(0, 100vh);
  transition: all 0.4s linear;
  z-index: 1;
}
.mob-nav_menu nav {
  min-width: 300px;
  position: absolute;
  top: 40px;
  left: 8px;
  right: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #FFFFFF;
  padding: 60px 12px 12px;
  border-radius: 12px;
  transform: translate(0, 100vh);
  transition: all 0.4s linear;
}
.mob-nav_menu nav a {
  display: block;
  background-color: #F5F5FA;
  color: #24A3FF;
  padding: 7px 0;
  width: 100%;
  margin-bottom: 15px;
  text-align: center;
  font-size: 24px;
  line-height: 29px;
}
.mob-nav_menu nav a:hover {
  color: #F0145A;
  text-decoration: none;
}
.mob-nav_menu nav a.nav-active {
  color: #F0145A;
}

a[href^="tel:"]:hover {
  color: #F0145A;
}

.main-nav {
  display: none;
}
.main-nav a.nav-active {
  color: #F0145A;
  text-decoration: underline;
  text-underline-offset: 3px;
}

.about-block {
  margin-bottom: 30px;
}
.about-block_benefits {
  padding-bottom: 30px;
  display: grid;
  gap: 30px;
  grid-auto-flow: column;
  grid-auto-columns: -webkit-max-content;
  grid-auto-columns: max-content;
  overflow-x: auto;
}
.about-block_benefits::-webkit-scrollbar {
  width: 0;
}
.about-block_benefits h3 {
  color: #B3B3BA;
  font-size: 30px;
  line-height: 37px;
  font-weight: 700;
}
.about-block_benefits h3:hover {
  color: #F0145A;
  background: unset;
  -webkit-text-fill-color: #F0145A;
}
.about-block_info {
  padding-top: 30px;
  border-top: 4px solid rgba(255, 255, 255, 0.3);
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.about-block_info h3 {
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  margin-bottom: 30px;
}
.about-block_info p {
  font-size: 19px;
  line-height: 30px;
  font-weight: 400;
}

.benefits-mob {
  margin-right: -15px;
}

.services-block {
  display: flex;
  flex-direction: column;
}
.services-block_items {
  display: grid;
  grid-template-rows: repeat(6, -webkit-fit-content);
  grid-template-rows: repeat(6, fit-content);
  gap: 30px;
}
.services-block_item img {
  max-width: 92px;
  max-height: 92px;
  border-radius: 24px;
  margin-bottom: 30px;
}
.services-block_item .title-sm {
  color: #24A3FF;
  margin-bottom: 15px;
}
.services-block_item p {
  font-size: 16px;
  line-height: 26px;
  font-weight: 400;
  color: inherit;
}
.services-block .block-title .title-nav {
  margin-bottom: 10px;
}

.team-block {
  width: 100%;
  margin-bottom: 60px;
}
.team-block_items {
  background-color: #F5F5FA;
  color: #B3B3BA;
  border-radius: 12px;
}
.team-block_item {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.team-block_cover {
  min-width: 315px;
  height: 500px;
  border-radius: 12px 12px 0 0;
  overflow: hidden;
}
.team-block_cover img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.team-block_content {
  padding: 30px;
  word-break: break-word;
}
.team-block_content p {
  font-size: 14px;
  line-height: 22px;
}

.team-member_info h4 {
  margin-bottom: 6px;
}

.clients-block h2 {
  font-size: 14px;
  line-height: 17px;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #323264;
  width: 80%;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
}
.clients-block_items {
  font-size: 0;
}
.clients-block_items.clients-dskt {
  display: none;
}
.clients-block_item {
  width: 100%;
  height: 120px;
  background-color: #EDEDF7;
}
.clients-block_item img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.blog-block {
  padding-top: 30px;
}
.blog-block_items {
  border-radius: 12px;
  display: grid;
  grid-auto-flow: row;
  grid-auto-rows: -webkit-max-content;
  grid-auto-rows: max-content;
  gap: 30px;
}
.blog-block_item {
  background-color: #FFFFFF;
  border-radius: 12px 12px 0 0;
}
.blog-block_cover {
  width: 100%;
  height: 200px;
  border-radius: 12px 12px 0 0;
  overflow: hidden;
  background-color: #EDEDF7;
}
.blog-block_cover img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.blog-block_content {
  padding: 30px;
  display: flex;
  flex-flow: wrap column;
  gap: 15px;
}
.blog-block_content h4 {
  color: #006CCF;
}
.blog-block_content span {
  color: #B3B3BA;
  font-size: 12px;
  font-weight: 700;
  line-height: 15px;
  letter-spacing: 1px;
}
.blog-block_content p {
  font-size: 14px;
  line-height: 22px;
}
.blog-block .btn {
  display: block;
  width: 211px;
  margin: 30px auto 0;
}
.blog-block.entry-page {
  padding-top: 0;
}
.blog-block_entry .blog-block_cover {
  height: 500px;
}
.blog-block_entry .blog-block_content {
  display: block;
  padding: 0;
}
.blog-block_entry .blog-block_content h4 {
  color: #46466E;
  margin-top: 30px;
  margin-bottom: 15px;
}
.blog-block_entry .blog-block_content p {
  font-size: 16px;
  line-height: 26px;
  margin-top: 30px;
  margin-bottom: 30px;
}
.blog-block_entry .blog-block_content hr {
  margin-top: 30px;
  margin-bottom: 30px;
}
.blog-block_entry .blog-block_content ol, .blog-block_entry .blog-block_content ul {
  margin-top: 30px;
  margin-bottom: 30px;
}
.blog-block_entry .blog-block_content ol {
  margin-left: 28px;
}
.blog-block_entry .blog-block_content ul {
  margin-left: 18px;
}
.blog-block_entry .blog-block_content .blog-ads img {
  display: block;
  margin-right: auto;
  margin-left: auto;
}
.blog-block_entry .blog-block_content .blog-ads figcaption {
  color: #B3B3BA;
  font-size: 14px;
  line-height: 22px;
  text-align: center;
}

.entry-page .blog-block_item:nth-child(3) {
  grid-column: inherit;
}

.footer-block {
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  text-align: center;
  padding-top: 30px;
  padding-bottom: 30px;
}
.footer-block_items {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
}
.footer-block hr {
  height: 2px;
}
.footer-block_address .nav-address {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.footer-block_address .nav-address li:nth-of-type(2) {
  text-transform: uppercase;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 1px;
}
.footer-block_address .info-legal {
  display: none;
}
.footer-block_social {
  margin-bottom: 10px;
}
.footer-block_social .nav-address {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.footer-block_social .nav-address li a svg #facebook {
  fill: #0085FF;
}
.footer-block_social .nav-address li a svg:hover #facebook {
  fill: #F0145A;
}

.info-legal p {
  color: #B3B3BA;
  line-height: inherit;
}

.service-block_item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 30px;
}
.service-block_item img {
  max-width: 92px;
  max-height: 92px;
}
.service-block_item p {
  font-size: 19px;
  line-height: 30px;
}
.service-block_item .btn {
  margin-bottom: 30px;
}
.service-block_details {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.service-block_details ul li {
  margin-bottom: 15px;
}

.btn {
  background-color: #24A3FF;
  color: #FFFFFF;
  box-shadow: 0px 0px 20px rgba(36, 163, 255, 0.5);
  border-radius: 12px;
  text-align: center;
  font-weight: 700;
  line-height: 20px;
  padding: 18px 30px;
  font-size: 16px;
  border-color: transparent;
  cursor: pointer;
  border: none;
}
.btn:hover {
  background: #0085FF;
}
.btn:active {
  background: #006CCF;
}

.blog-social {
  display: flex;
  gap: 10px;
  margin-bottom: 30px;
}
.blog-social_icon {
  width: 42px;
  height: 42px;
  border-radius: 12px;
  background-color: #F5F5FA;
  padding: 9px;
}

.contact-block {
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin-bottom: 30px;
}
.contact-block_info {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 100%;
}
.contact-block_info span {
  display: inline-block;
  color: #24A3FF;
  width: 105px;
  letter-spacing: 1px;
  font-size: 12px;
  line-height: 16px;
  font-weight: 700;
  text-transform: uppercase;
  margin-left: 10px;
}
.contact-block ul li:not(:last-of-type) {
  font-size: 21px;
  line-height: 30px;
  color: #323264;
}
.contact-block ul li::before {
  content: none;
}
.contact-block ul li a svg:hover #facebook {
  fill: #F0145A;
}
.contact-block ul li a:hover {
  color: #F0145A;
}
.contact-block_form {
  width: 100%;
}

.contact-form {
  background-color: #F5F5FA;
  color: #B3B3BA;
  padding: 30px;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 15px;
}
.contact-form .title-md {
  margin-bottom: 15px;
}
.contact-form div {
  width: 100%;
}
.contact-form div .btn {
  width: 100%;
  margin-top: 15px;
}
.contact-form .contact-input {
  display: block;
  width: 100%;
  height: 56px;
  padding: 15px;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  background-color: #FFFFFF;
  color: #B3B3BA;
  border-color: transparent;
  border-radius: 8px;
}
.contact-form textarea.contact-input {
  height: 130px;
  margin-bottom: 15px;
  resize: none;
}
.contact-form .contact-subtitle {
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 1px;
  text-transform: uppercase;
}
.contact-form .contact-input:focus {
  outline: 1px solid #24A3FF;
  color: #000000;
}
.contact-form .contact-input:invalid {
  outline: 1px solid #FF0000;
  color: #FF0000;
}
.contact-form .contact-input:disabled {
  background-color: #EDEDF7;
}
.contact-form .contact-input:not(:-moz-placeholder-shown) {
  color: #000000;
}
.contact-form .contact-input:not(:-ms-input-placeholder) {
  color: #000000;
}
.contact-form .contact-input:not(:placeholder-shown) {
  color: #000000;
}
.contact-form .button-reset {
  position: absolute;
  width: 32px;
  height: 32px;
  top: 37px;
  right: 37px;
  padding: 0;
  background-color: transparent;
  border: none;
}

.about-page {
  margin-bottom: 60px;
}
.about-page_benefits {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.about-page_benefits .benefits-info {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.about-page .benefits-points {
  width: 100%;
  border-left: 4px solid #E6E6F0;
  height: 100%;
  padding-left: 30px;
}
.about-page .benefits-points ul:last-of-type {
  margin-bottom: 0;
}
.about-page .benefits-points .benefits-point {
  margin-bottom: 40px;
}
.about-page .benefits-points .benefits-point li {
  font-size: 0;
}
.about-page .benefits-points .benefits-point li::before {
  content: none;
}
.about-page .benefits-points .benefits-point li:not(:last-of-type) {
  margin-bottom: 10px;
}
.about-page .benefits-points .benefits-point img {
  width: 32px;
  height: 32px;
  margin-right: 8px;
  display: inline-block;
  vertical-align: middle;
}
.about-page .benefits-points .benefits-point .point-txt {
  font-size: 16px;
  line-height: 20px;
  color: #323264;
  font-weight: 400;
}
.about-page .benefits-points .benefits-point span {
  font-size: 36px;
  line-height: 44px;
  font-weight: 700;
  vertical-align: middle;
}
.about-page p {
  font-size: 19px;
  line-height: 30px;
  font-weight: 400;
  color: #000000;
}
.about-page_cover {
  background-image: url(../../img/about-cover.png);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 234px;
  margin-top: 30px;
  margin-bottom: 30px;
  text-align: center;
  position: relative;
}
.about-page_cover p {
  padding: 35px;
  font-size: 36px;
  line-height: 44px;
  font-weight: 700;
  letter-spacing: 13px;
  color: #FFFFFF;
  text-transform: uppercase;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.contact-popup {
  display: none;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 4;
  background-color: #323264;
}
.contact-popup .contact-form {
  border-radius: 0;
}
.contact-popup .contact-form h2.title-grad {
  width: 80%;
}
.contact-popup .contact-close {
  position: absolute;
  right: 37px;
  top: 37px;
  z-index: 4;
  width: 32px;
  height: 32px;
  background-color: transparent;
  padding: 10px 7px;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.contact-popup .contact-close:hover {
  background-color: #E6E6F0;
  cursor: pointer;
}
.contact-popup .contact-close:hover > div {
  transform: rotate(225deg);
}
.contact-popup .contact-close > div {
  position: relative;
  width: 100%;
  height: 2px;
  background-color: #F0145A;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease;
  transform: rotate(135deg);
}
.contact-popup .contact-close > div::before, .contact-popup .contact-close > div::after {
  content: "";
  position: absolute;
  z-index: 1;
  top: 0;
  width: 100%;
  height: 2px;
  background-color: #F0145A;
  transform: rotate(90deg);
}
.contact-popup .contact-close > div input {
  border: none;
  background-image: none;
  background-color: transparent;
  box-shadow: none;
}
.contact-popup.active {
  display: block;
}

.member-cover {
  width: 100%;
  border-radius: 12px;
  overflow: hidden;
}
.member-cover img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.member-title {
  font-size: 16px;
  line-height: 20px;
  color: #323264;
  font-weight: 700;
}

.member-info {
  font-size: 14px;
  line-height: 22px;
  color: #B3B3BA;
}

.team-page h2 {
  margin-bottom: 60px;
}
.team-page_members {
  display: grid;
  grid-auto-columns: -webkit-max-content;
  grid-auto-columns: max-content;
  gap: 30px;
  margin-bottom: 60px;
}
.team-page_member {
  position: relative;
}
.team-page_member .member-cover {
  margin-bottom: 15px;
  height: 300px;
}
.team-page_member .team-arrow {
  display: block;
  width: 32px;
  height: 32px;
  position: absolute;
  background-color: #F5F5FA;
  background-image: url(../../img/team-arrow.svg);
  background-repeat: no-repeat;
  background-position: 12px 7px;
  border-radius: 50%;
  bottom: 15px;
  right: 0;
  cursor: pointer;
}
.team-page_member .team-arrow:hover {
  background-image: url(../../img/team-arrow-red.svg);
}

.entry-team_header {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 30px;
}
.entry-team_header li::before {
  content: none;
}
.entry-team_header li:not(:last-of-type) {
  margin-bottom: 10px;
}
.entry-team .member-cover {
  height: 375px;
  width: 300px;
}
.entry-team .member-details li a {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
}
.entry-team .member-details .title-grad {
  margin-bottom: 15px;
}
.entry-team_info {
  margin-top: 30px;
  margin-bottom: 30px;
}
.entry-team_info hr, .entry-team_info p:not(:last-of-type) {
  margin-bottom: 30px;
}
.entry-team_info h2, .entry-team_info h3, .entry-team_info h4 {
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 1px;
  text-transform: uppercase;
  margin-bottom: 15px;
  color: #323264;
}
.entry-team_info p {
  font-size: 16px;
  line-height: 26px;
  font-weight: 400;
  color: #000000;
}

.btn-progress::before {
  content: none;
  position: absolute;
  bottom: 50px;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 22px;
  height: 22px;
  border: 4px solid #24A3FF;
  border-top: 4px solid transparent;
  border-radius: 50%;
  -webkit-animation: rotate 5s linear infinite;
          animation: rotate 5s linear infinite;
}
.btn-progress.active::before {
  content: "";
}
.btn-progress.active .btn {
  background-color: #EDEDF7 !important;
  box-shadow: unset;
}

@-webkit-keyframes rotate {
  from {
    transform: rotate(-360deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes rotate {
  from {
    transform: rotate(-360deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@media (min-width: 768px) {
  .wrapper {
    max-width: 648px;
    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
  }

  .wrap-head {
    padding: 0;
  }

  .mob_bg {
    display: none;
  }

  .mob-nav {
    display: none;
  }
  .mob-nav_menu {
    display: block;
  }

  .main-nav {
    display: block;
  }

  .page-title {
    font-size: 36px;
    line-height: 44px;
    margin-left: 29px;
  }
  .page-title::before {
    content: url("../../img/title-slash-bg.svg");
    margin-left: -26px;
    height: 47px;
    width: 21px;
  }

  .bg-dark .header-nav_address.nav-address li:nth-of-type(1) {
    color: #B3B3BA;
  }

  .bg-light .mb-none {
    margin-bottom: 60px;
  }
  .header {
    padding-top: 50px;
    margin-top: 0;
    margin-bottom: 60px;
  }
  .header-info {
    justify-content: left;
    vertical-align: middle;
    position: relative;
    padding: 0;
    gap: 18px;
  }
  .header-block {
    grid-template-rows: 25px 120px 25px;
  }
  .header-content {
    margin-top: 250px;
  }
  .header-nav_address.nav-address {
    display: flex;
    align-items: center;
    gap: 18px;
  }
  .header-nav_address.nav-address li:not(:nth-child(2)) {
    display: block;
  }
  .header-nav_address.nav-address li::before {
    content: "";
  }
  .header-nav_address.nav-address li:nth-of-type(1) {
    color: #B3B3BA;
  }
  .header-nav-lang {
    margin-right: 18px;
    align-items: center;
  }
  .header-nav nav {
    display: flex;
    gap: 15px;
  }
  .header-logo img {
    width: 130px;
    height: 60px;
  }

  .about-block {
    margin-bottom: 60px;
  }
  .about-block_benefits h3 {
    color: #B3B3BA;
    font-size: 38px;
    line-height: 46px;
  }
  .about-block_info {
    padding-top: 60px;
  }

  .benefits-mob {
    margin-right: -60px;
  }

  .block-title .title-md {
    font-size: 38px;
    line-height: 46px;
  }

  .services-block {
    gap: 30px;
  }
  .services-block_items {
    grid-template-rows: -webkit-max-content;
    grid-template-rows: max-content;
    grid-template-columns: 1fr 1fr;
    gap: 60px;
  }

  .service-block {
    padding-top: 30px;
  }
  .service-block_details .service-details {
    display: flex;
    gap: 60px;
  }
  .service-block_item .btn {
    margin-bottom: 60px;
  }

  .clients-block_items.clients-mob {
    display: none;
  }
  .clients-block_items.clients-dskt {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
  .blog-block_items {
    grid-template-columns: 1fr 1fr;
  }
  .blog-block_item:nth-child(3) {
    grid-column: 1/3;
  }

  .footer-block .info-legal {
    display: none;
  }
  .footer-block_address {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    vertical-align: middle;
  }
  .footer-block_address .nav-address {
    flex-direction: row;
    gap: 26px;
    align-items: center;
  }
  .footer-block_address .nav-address li:nth-of-type(2)::before {
    content: "";
    background-color: #B3B3BA;
    top: 7px;
    margin-left: -16px;
  }
  .footer-block_address .info-legal {
    display: block;
  }
  .footer-block_social {
    margin-bottom: 0;
  }
  .footer-block_social .nav-address {
    flex-direction: row;
    align-items: center;
    gap: 26px;
  }
  .footer-block_social li:not(:first-child)::before {
    content: "";
    background-color: #B3B3BA;
    margin-left: -16px;
  }

  .team-block_cover {
    min-width: 648px;
    height: 500px;
  }

  .contact-block {
    gap: 60px;
  }

  .about-page h2 {
    font-size: 38px;
    line-height: 46px;
  }
  .about-page_cover .cover-title {
    font-size: 46px;
    line-height: 56px;
    letter-spacing: 63px;
  }

  .team-page h2 {
    font-size: 38px;
    line-height: 46px;
  }
  .team-page_members {
    grid-template-columns: 1fr 1fr;
    gap: 60px;
  }
  .team-page .member-cover {
    height: 400px;
  }

  .entry-team_header {
    flex-direction: row;
  }

  .contact-popup .contact-form {
    width: 650px;
    border-radius: 12px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
}
@media (min-width: 1024px) {
  .wrapper {
    max-width: 904px;
  }

  .bg-dark .header-nav_address.nav-address li:nth-of-type(1) {
    color: #FFFFFF;
  }

  .header-main {
    background-size: contain;
  }
  .header-block {
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr 1fr;
    height: 66px;
  }
  .header-content {
    margin-top: 245px;
  }
  .header .nav_logo {
    order: 1;
    grid-row: 1/3;
    grid-column: 1/2;
  }
  .header .nav_info {
    order: 2;
    justify-self: end;
  }
  .header .nav_menu {
    justify-self: end;
  }

  .nav-menu nav {
    justify-content: right;
  }

  .benefits-mob {
    margin-right: 0;
  }

  .about-block {
    display: grid;
    grid-template-columns: 435px 1fr;
    align-items: center;
  }
  .about-block_benefits {
    grid-auto-flow: row;
    grid-auto-rows: -webkit-max-content;
    grid-auto-rows: max-content;
    text-align: end;
    overflow-x: hidden;
  }
  .about-block_info {
    padding-top: 0;
    padding-left: 60px;
    border-top: none;
    border-left: 4px solid rgba(255, 255, 255, 0.3);
  }

  .services-block_items {
    grid-template-rows: -webkit-max-content;
    grid-template-rows: max-content;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 60px;
  }

  .team-block_item {
    flex-direction: row;
  }
  .team-block_cover {
    min-width: 400px;
    height: 528px;
    border-radius: 12px 0 0 12px;
  }

  .clients-block_items.clients-dskt {
    grid-template-columns: repeat(4, 1fr);
  }

  .blog-block_items {
    grid-template-columns: 1fr 1fr 1fr;
  }
  .blog-block_item:nth-child(3) {
    grid-column: initial;
  }

  .contact-block {
    flex-direction: row;
  }

  .about-page_benefits {
    flex-direction: row;
  }
  .about-page .benefits-point {
    width: 354px;
  }
  .about-page .benefits-title h2 {
    width: 362px;
    margin-left: 30px;
  }
  .about-page_cover {
    height: 312px;
  }
  .about-page_cover .cover-title {
    font-size: 86px;
    line-height: 105px;
  }

  .team-page h2 {
    font-size: 38px;
    line-height: 46px;
  }
  .team-page_members {
    grid-template-columns: 1fr 1fr 1fr;
  }

  .entry-team {
    position: relative;
  }
  .entry-team_header {
    padding-left: 360px;
  }
  .entry-team_header .member-cover {
    position: absolute;
    top: 0;
    left: 0;
  }
  .entry-team_info {
    padding-left: 360px;
  }
}
@media (min-width: 1440px) {
  .wrapper {
    max-width: 1320px;
  }

  .header-content {
    margin-top: 265px;
  }

  .header-title {
    width: 70%;
  }

  .about-block {
    padding-right: 97px;
    padding-left: 97px;
  }

  .entry-page {
    padding-left: 120px;
    padding-right: 120px;
  }

  .about-page_cover {
    height: 438px;
  }
  .about-page_cover .cover-title {
    font-size: 96px;
    line-height: 117px;
  }

  .entry-team {
    position: relative;
  }
  .entry-team_header {
    padding-left: 460px;
  }
  .entry-team_header .member-cover {
    width: 400px;
    height: 500px;
    left: 120px;
  }
  .entry-team_info {
    padding-left: 460px;
  }
  .entry-team .member-social {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    gap: 26px;
    position: relative;
  }
  .entry-team .member-social li {
    margin-bottom: 0;
  }
  .entry-team .member-social li:not(:first-of-type)::before {
    content: "";
    position: absolute;
    top: 11px;
    width: 6px;
    height: 6px;
    background-color: #E6E6F0;
    border-radius: 50%;
    margin-left: -16px;
  }

  .team-block_cover {
    width: 400px;
    height: 344px;
  }
}
@media (min-width: 1600px) {
  .header-content {
    margin-top: 315px;
  }

  .clients-block_items {
    border-radius: 12px;
    overflow: hidden;
  }
}
@media (min-width: 1920px) {
  .wrapper {
    max-width: 1600px;
  }

  .header-content {
    margin-top: 361px;
  }

  .clients-block {
    margin-bottom: 60px;
  }
  .clients-block_items {
    border-radius: 12px;
    overflow: hidden;
  }
  .clients-block_item {
    width: 430px;
  }

  .about-page_cover {
    height: 586px;
  }

  .team-block_cover {
    width: 400px;
    height: 298px;
  }
}