* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

body {
    font-family: 'Montserrat', sans-serif;
    height: 5000px;
}

.contact {
    height: 100%;
    background-color: rgba(50, 50, 100, 0.7);
    position: relative;
}

.contact-section {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: #F5F5FA;
    box-shadow: 0px 15px 80px rgba(40, 40, 86, 0.5);
    border-radius: 12px;
    padding: 30px;
}

.contact-section_title {
    width: 517px;
    font-size: 38px;
    line-height: 46px;
    font-weight: 700;
    font-style: normal;
    background: linear-gradient(90.13deg, #F0145A 0.84%, #EF8080 99.96%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    margin: 0 0 30px 0;
}

.contact-section_subtitle {
    font-size: 14px;
    line-height: 17px;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #B3B3BA;
    margin-bottom: 15px;
}

.contact-input {
    display: block;
    width: 590px;
    height: 56px;
    padding: 15px;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    background-color: #FFFFFF;
    color: #B3B3BA;
    margin-bottom: 15px;
    border-color: transparent;
    border-radius: 8px;
}

.contact-input + p.error {
    font-size: 10px;
    color: #FF0000;
    display: none;
    margin-top: -10px;
}

.contact-input:invalid + p.error {
    display: block;   
}

.contact-message {   
     height: 130px;
     margin-bottom: 30px;
     resize: none;
}

.contact-input:focus {
    outline: 1px solid #24A3FF;
    color: #000000;
}

.contact-input:invalid {
    outline: 1px solid #FF0000;
    color: #FF0000;
}

.contact-input:disabled {
    background-color: #EDEDF7;
}

.contact-input:not(:placeholder-shown) {
    color:#000000;
}

.contact-section div input[type="email"] {
    margin-bottom: 30px;
}

.button-submit {
    background: #24A3FF;
    color: #FFFFFF;
    box-shadow: 0px 0px 20px rgba(36, 163, 255, 0.5);
    border-radius: 12px;
    text-align: center;
    font-weight: 700;
    line-height: 19.5px;
    margin-bottom: 0;
    display: block;
    width: 590px;
    height: 56px;
    padding: 15px;
    font-size: 16px;
    border-color: transparent;
}

.button-submit:hover {
    background: #0085FF;
    color: #FFFFFF;
}

.button-submit:active {
    background:#006CCF;
    color: #FFFFFF;
}

.button-reset {
    position: absolute;
    width: 32px;
    height: 32px;
    top: 37px;
    right: 37px;
    padding: 0;
    background-color: transparent;
    border: none;
}

.button-reset::after,
.button-reset::before {
    content: "";
    position: absolute;
    display: block;
    background-color: #EC6F5D;
    width: 24px;
    height: 2px;
    top: 15px;
    left: 4px;
}

.button-reset::after {
    transform: rotate(45deg);
}

.button-reset::before {
    transform: rotate(-45deg);
}

.button-reset:hover {
    background: #E6E6F0;
    border-radius: 8px;
}