* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

html, body {
    height: 100%;
}

body {
    font-family: 'Montserrat', sans-serif;
    height: 100%;
    background-color: #FFFFFF;
    position: relative;
}

.product {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: #FFFFFF;
    box-shadow: 0px 15px 80px rgba(0, 0, 0, 0.5);
    padding: 50px;
    display: flex;
    flex-flow: wrap column;
    align-items: center;
    gap: 10px;
}